services:
  pingora:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pingora
    volumes:
      - ./config.json:/usr/src/pingora/config.json:ro
      - ./certs:/certs
    ports:
      - "8443:8443"
    environment:
      - RUST_LOG=debug
    restart: unless-stopped
    networks:
      - proxy-network

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - /home/tommie/projects/jellyfin/config:/config
      - /home/tommie/projects/jellyfin/cache:/cache
      - type: bind
        source: /media/brontosaurus/media
        target: /media
    restart: unless-stopped
    networks:
      - proxy-network
    
  sickgear:
    container_name: sickgear
    image: sickgear/sickgear:latest
    environment:
      - APP_UID=1000
      - APP_GID=1000
      - TZ=UTC
    ports:
      - 8081:8081/tcp
    volumes:
      - /home/tommie/projects/jellyfin/data:/data
      - /home/tommie/Downloads/deluge/finished/tv:/incoming
      - /media/brontosaurus/media/tv:/tv
    restart: unless-stopped
    networks:
      - proxy-network

  rusty-budgets:
    build:
      context: /home/tommie/projects/rusty-budgets
      dockerfile: Dockerfile
    container_name: rusty-budgets
    environment:
      - DATA_FILE=/data.json
    ports:
      - 8666:8666/tcp
    volumes:
      - /home/tommie/projects/rusty-budgets/data.json:/data.json
    restart: unless-stopped
    networks:
      - proxy-network
      
  oxidize-books:
    build:
      context: /home/tommie/projects/oxidize_books
      dockerfile: Dockerfile
    container_name: oxidize-books
    environment:
      DATABASE_URL: postgresql://postgres:birkobengo@postgres/oxidized_books
      OXIDIZED_BOOKS_INPUT_PATH: /books_input
      OXIDIZED_BOOKS_BOOK_PATH: /books
    ports:
      - 8888:8888/tcp
    volumes:
      - /home/tommie/Downloads/deluge/finished/books/:/books_input
      - /media/brontosaurus/media/books/:/books
    restart: unless-stopped
    networks:
      - proxy-network
  
  postgres:
    # Official Postgres image from DockerHub (we use the last version)
    image: "postgres:latest"
    ports:
      - 5432:5432

    environment:
      POSTGRES_USER: postgres # The PostgreSQL user (useful to connect to the database)
      POSTGRES_PASSWORD: birkobengo # The PostgreSQL password (useful to connect to the database)
      POSTGRES_DB: oxidized_books # The PostgreSQL default database (automatically created at first launch)
    # The `volumes` tag allows us to share a folder with our container.
    # Its syntax is as follows: [folder path on our machine]:[folder path to retrieve in the containqer]
    volumes:
      - /home/tommie/Books/oxidized_books/:/var/lib/postgresql/
    restart: unless-stopped
    networks:
      - proxy-network

networks:
  proxy-network:
    ipam:
      config:
        - subnet: 172.24.0.0/16
    driver: bridge
    name: proxy-network